.register-screen {
  display: block;
  width: 430px;
  height: 932px;
  flex-direction: column;
  gap: 10px;
  margin: -2px -2px -2px -2px;
}

.register {
  background: var(
    --gradient-background,
    linear-gradient(180deg, #2e2f36 0%, #17181c 100%)
  );
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: block;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 40px;
  gap: 6px;
  align-self: stretch;
}
.text-wrapper {
  color: var(--white, #f5f5f5);
  font-family: Poppins;
  font-size: 54px;
  margin-bottom: -5px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}
.registerDesc {
  color: var(--white, #f5f5f5);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.register-label {
  color: #ffffff;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  margin-top: 30px;
  display: flex;
  margin-bottom: -20px;
  margin-left: 25px;
}

.registerBox {
  height: 400px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.registerInput {
  background: var(
    --gradient-background,
    linear-gradient(180deg, #2e2f36 0%, #17181c 100%)
  );
  display: flex;
  padding: 13px 70px;
  height: 50px;
  border-radius: 46px;
  color: rgb(117, 118, 125);
  margin-bottom: 20px;
  border: 1px solid #ffffff;
}

.loginInput:focus {
  outline: none;
}

.registerButton { 
  display: flex;
  padding: 12px 150px;
  border-radius: 46px;
  color: var(--white, #f5f5f5);
  border: 1px solid var(--orange, #fe2e05);
  background: var(
    --gradient-button,
    linear-gradient(180deg, #ad2d14 0%, #f42e07 100%)
  );
  margin-bottom: 20px;
}

.registerLogin {
  color: var(--white, #f5f5f5);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-left: 5px;
  align-self: stretch;
}

.logar{
  color: var(--white, #f5f5f5);
}